
.section-login{
     display: grid;
     grid-template-columns: 1fr;
     justify-items : center;
     text-align: center;
     width: 100%;
     height: 100vh;
     background-size: cover;

  
   & .login__message{
     @include center;
     top: 46rem;
     color: #9d8db3;
     white-space: nowrap;

     @media (min-height:1024px){
       top:51rem
     }
   }
}
