.section-signin{
    display: grid;
    grid-template-columns: 1fr;
    justify-items : center;
    text-align: center;
    width: 100%;
    height: 100vh;
    // background-position: 100%;
    background-size: cover;


    & .signin__message{
        @include center;
        top: 52rem;
        color: #9d8db3;
        white-space: nowrap;
        
        @media (min-height:1024px){
            top:70rem
        }

    }

    & .signin__message--link {
        text-decoration: none;
    }

}