.login__form{
    @include center;
    top: 32rem;
    border: 1px solid #c9c7d2;
    padding: 2rem;

}

.signin__form{
    @include center;
    top: 32rem;
    border: 1px solid #c9c7d2;
    padding: 2rem;


}