.app__header{
    margin-top: 3rem;
    position: relative;
    max-height: 25vh;
    
    & .app__header--logo{
        height: 9rem;
        background-color: transparent;

        @media (max-width: 37.5em) {
            height: 7rem;
          }
    }
}