@import './variables';

.btn{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: .5rem;
    transition: all .2s;
    position: relative;
    font-size: 1.5rem;
    width: 97%;
    background-color: $color-light;
    color:$color-dark; 
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;

    border: none;
    cursor: pointer;

    @media (min-height: 63.75em){
      font-size: 2.6rem;
    }
    
    &:hover{
        transform: translateY(-.3rem);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    &:focus,
    &:active{
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    }

    &::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
}

.form__button--white{
  background-color: #3f227b;
  color: $color-primary;

}

.form__button--green{
  background-color: $color-primary;
  color: $color-light;

  &::after{
    background-color: $color-primary;
  }

}

.btn-text {

    &:link,
    &:visited {
      font-size: $default-font-size;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: .3rem 1rem;
      transition: transform .2s;
      color: $color-primary;
    }
  
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 1rem rgba($color-black, .2);
      transform: translateY(-2px);
    }
  
    &:active {
      box-shadow: 0 .3rem .5rem rgba($color-black, .2);
      transform: translateY(0);
    }
  }

  .todo__btn{
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 1.1rem;
  }