@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

@mixin button{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;

    }
}