.section-todo-list{


    & .todo-list__main{
        text-align: center;
    }

    & .todo-list__pages{
        text-align: center;
        padding: 5rem;
    }

    & .todo-list__pages--page{
        padding: 2rem;
        text-decoration: none;
    }

    & .todo-list__container{
        height: 55vh;
        width: 95%;
        border: 1px solid #dedddd;
        margin: 2rem auto;
        text-align: center;
        overflow-y: scroll;
    }


    & .list__addTodo{
        width: 50%;
        height: 100%;
        margin: 1rem auto;

        & .list__item{
            margin: 1.3rem;
            padding: 1.3rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            border: 1px solid #c2d2ba;
            justify-content: space-between;

            & .list__item--value{
                
                & .list__item--id{
                    margin-right: 1rem;
                }
            }

            & .list__item--state{
                display: inline-flex;


                & .list__item--popup {
                    top: 30rem !important;
                    width: max-content !important;
                    text-align: center !important;
    
                    & .list__item--select-box{
    
    
                        & .list__item--options{
                            
                        }
                    }
                }
            }

            & .list__popup{
                cursor: pointer;
                display: inline-block;
                border: 1px solid #d6f1d9;
                border-radius: .7rem;
            }
        }
    }  
    
    & .todo-list__time {
        width: 50%;

        & .todo__header{
            margin: 1.3rem;
            font-weight: 300;
            font-size: 2.8rem;
        }

        & .todo__timing{
            margin: 1.3rem;
            padding: 1.2rem;
            border-radius: 1rem;
            border: 1px solid #c2d2ba;

            & .todo__timing__time{
                font-weight: 400;
                font-size: 1.8rem;
                display: inline-block;
            }
        }
    }

    & .alert__message{
        margin: 2rem auto;
    }
}


.list__item--popup {
    top: 30rem !important;
    width: max-content !important;
    text-align: center !important;
}